*,::after,::before {
  box-sizing: border-box;
  /* font-family: smeFont; */
}
html {
    -webkit-font-smoothing: antialiased;
}
body {
  color: #000;
	font-size: 16px;
  font-family: 'Karla', sans-serif;
  line-height: normal;
  background-color: #fff;
  min-height: 1000px;
  margin: 0;
  padding: 0;
  position: relative;
}

/* @media (max-width: 768px){
    body {
        padding-top: 50px;
    }
} */
/* @media (max-width: 768px){
    body {
        padding-top: 50px;
    }
} */
h1,h2,h3,h4,h5,h6 {
	/* font-family: 'smeFontBold', sans-serif; */
  font-family: 'Karla', sans-serif;
  font-weight: bold;
}
h1,h2,h3 {
  margin-top: 20px;
  margin-bottom: 20px;
}
a {
  font-family: 'Karla', sans-serif;
	text-decoration: none;
  cursor: pointer;
}
a:hover {
  color: #06a5e4;
	text-decoration: none;
}
img {
  outline: none;
  width: 100%;
}

header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1000;
  margin-bottom: 20px;
  background-color: #ffffff;
  border-bottom: 1px solid #a1c4e2c7;
}
.header-div {
  height: 70px;
  width: 1270px;
  margin: auto;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.app-width {
  width: 1270px;
}
.brand-logo {
  width: 150px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.navigation-links {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.nav-links {
  color: #888;
  padding-left: 20px;
}
.nav-button-div {
  margin-left: 20px;
}
.nav-button {
    border: 2px solid #888;
    color: #888;
    border-radius: 3px;
    padding: 10px 20px;
}
.nav-button:hover {
    border: 2px solid #06a5e4;
    /* font-weight: bold; */
}

/* top banner  */
.top-banner {
  min-height: 550px;
  display: flex;
  justify-content: flex-start;
  background-color: #ffffff;
  background-image: url(../images/pexels-photo-443383.jpeg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  position: relative;
  margin-top: 70px;
  /* padding-top: 70px; */
}
.top-banner .overlay {
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  width: 50%;
  height: 100%;
  right: 0;
  left: 0;
  background-color: rgba(0,0,0,0.5);
  justify-items: center;
  padding: 20px;
  padding-left: 50px;
}



/* text animation css  */
.text-animation {
  display:inline-block;
  overflow:hidden;
  white-space:nowrap;
  font-size: 40px;
  color: #fff;
  width: 100%;
  font-weight: bold;
  margin-bottom: 20px;
}
.main-div {
  animation: showup 7s infinite;
}

.sub-main-div {
  width:0px;
  animation: reveal 7s infinite;
}

.sub-main-div span {
  margin-left:-355px;
  animation: slidein 7s infinite;
}

@keyframes showup {
    0% {opacity:0;}
    20% {opacity:1;}
    80% {opacity:1;}
    100% {opacity:0;}
}

@keyframes slidein {
    0% { margin-left:-800px; }
    20% { margin-left:-800px; }
    35% { margin-left:0px; }
    100% { margin-left:0px; }
}

@keyframes reveal {
    0% {opacity:0;width:0px;}
    20% {opacity:1;width:0px;}
    30% {width:355px;}
    80% {opacity:1;}
    100% {opacity:0;width:355px;}
}
/*  */

.upsale-text {
  font-size: 25px;
  color: #fff;
  font-weight: 500;
  margin-bottom: 30px;
}

.link-button {
  color: #fff;
  font-size: 20px;
}
.link-button:hover {
  color: #06a5e4;
}

.button {
    border: 2px solid #fff;
    color: inherit;
    border-radius: 3px;
    padding: 10px 25px;
}
.button:hover {
    border: 2px solid #fff;
    color: inherit;
    background-color: #fff;
}
