*,::after,::before {
  box-sizing: border-box;
  /* font-family: smeFont; */
}
html {
    -webkit-font-smoothing: antialiased;
}
body {
  color: #000;
	font-size: 16px;
  font-family: 'Karla', sans-serif;
  line-height: normal;
  background-color: #fff;
  min-height: 500px;
  margin: 0;
  padding: 0;
  position: relative;
}

/* @media (max-width: 768px){
    body {
        padding-top: 50px;
    }
} */
/* @media (max-width: 768px){
    body {
        padding-top: 50px;
    }
} */
h1,h2,h3,h4,h5,h6 {
	/* font-family: 'smeFontBold', sans-serif; */
  font-family: 'Karla', sans-serif;
  font-weight: bold;
}
h1,h2,h3 {
  margin-top: 20px;
  margin-bottom: 20px;
}
a {
  font-family: 'Karla', sans-serif;
	text-decoration: none;
  cursor: pointer;
}
a:hover {
  color: #06a5e4;
	text-decoration: none;
}
p {
  font-family: 'Lato', sans-serif;
}
img {
  outline: none;
  width: 100%;
}

header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1000;
  margin-bottom: 20px;
  background-color: #ffffff;
  border-bottom: 1px solid #a1c4e2c7;
}
.header-div {
  height: 70px;
  width: 1270px;
  margin: auto;
  /* padding-left: 10px;
  padding-right: 10px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.app-width {
  max-width: 1270px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.brand-logo {
  width: 150px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.navigation-links {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-transform: uppercase;
}
.nav-links {
  color: #676767;
  padding-left: 20px;
  font-size: 13px;
}
.nav-button-div {
  margin-left: 20px;
}
.nav-button {
    border: 2px solid #676767;
    color: #676767;
    font-size: 13px;
    border-radius: 3px;
    padding: 10px 20px;
}
.nav-button:hover {
    border: 2px solid #06a5e4;
    /* font-weight: bold; */
}
.nav-button:active {
    border: 2px solid #06a5e4;
    color: #06a5e4
    /* font-weight: bold; */
}

/* dropdown menu */

.dropdown {
    position: relative;
    padding: 20px 5px;
    margin-left: 10px;
    /* display: inline-block; */
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 60px;
    background-color: #ffffffd9;
    border: 1px solid #eee;
    min-width: 230px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-row {
  display: flex;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-transform: none;
}
.dropdown-content a:hover {
  /* background-color: #eee; */
  /* background-color: #06a5e4; */
  color: #06a5e4;
}
.dropdown:hover .dropdown-content {
  display: block;
}

/* top banner  */
.top-banner {
  min-height: 550px;
  display: flex;
  justify-content: flex-start;
  background-color: #ffffff;
  background-image: url(../images/pexels-photo-443383.jpeg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  position: relative;
  margin-top: 70px;
  background-attachment: fixed;
  /* padding-top: 70px; */
}
.top-banner .overlay {
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  width: 50%;
  height: 100%;
  right: 0;
  left: 0;
  background-color: rgba(0,0,0,0.5);
  justify-items: center;
  padding: 20px;
  padding-left: 50px;
}



/* text animation css  */
.text-animation {
  display:inline-block;
  overflow:hidden;
  white-space:nowrap;
  font-size: 40px;
  color: #fff;
  width: 100%;
  font-weight: bold;
  margin-bottom: 20px;
}
.main-div {
  animation: showup 7s infinite;
}

.sub-main-div {
  width:0px;
  animation: reveal 7s infinite;
}

.sub-main-div span {
  margin-left:-355px;
  animation: slidein 7s infinite;
}

@keyframes showup {
    0% {opacity:0;}
    20% {opacity:1;}
    80% {opacity:1;}
    100% {opacity:0;}
}

@keyframes slidein {
    0% { margin-left:-800px; }
    20% { margin-left:-800px; }
    35% { margin-left:0px; }
    100% { margin-left:0px; }
}

@keyframes reveal {
    0% {opacity:0;width:0px;}
    20% {opacity:1;width:0px;}
    30% {width:355px;}
    80% {opacity:1;}
    100% {opacity:0;width:355px;}
}
/*  */

.upsale-text {
  font-size: 25px;
  color: #fff;
  font-weight: 500;
  margin-bottom: 30px;
}

.link-button {
  color: #fff;
  font-size: 20px;
  min-width: 130px;
}
.link-button:hover {
  color: #06a5e4;
}

.button {
    border: 2px solid #fff;
    color: inherit;
    border-radius: 3px;
    padding: 10px 25px;
}
.button:hover {
    border: 2px solid #fff;
    color: inherit;
    background-color: #fff;
}

/* swiper */
.image-slide-div {
  min-height: 400px;
  /* width: calc(100% - 20%); */
  background: #fff;
}
.swiper-container {
  height: 100%;
  width: 100%;
}
.swiper-slide {
  text-align: center;
  background-color: #fff;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}




/* our services */

.services-section {
  padding-top: 30px;
  padding-bottom: 50px;
  min-height: 300px;
  display: flex;
  justify-content: flex-start;
}
.section-header {
  /* color: #06a5e4; */
  display: flex;
  align-items: center;
  width: 100%;
  text-transform: uppercase;
}
.section-header>h1 {
  padding: 0 0.7rem;
}
.section-header:before {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  content: '';
  display: block;
  border-top: 1px solid #D8D8D8;
}
.section-header:after {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  content: '';
  display: block;
  border-top: 1px solid #D8D8D8;
}
.services-upsale {
  width: 60%;
  margin: auto;
  color: #676767;
}
.serviced-card-section {
  padding: 2rem 0;
  /* border: 1px solid #D8D8D8; */
  margin: 3rem 0px;
  font-family: 'Lato', sans-serif;
}
.serviced-card {
  min-height: 300px;
  border-right: 1px solid #D8D8D8;
  width: 100%;
  flex: 1;
  padding: 0px 2rem;
}
.serviced-card:last-child {
  border-right: 0px;
  padding-right: 0px
}
.serviced-card:first-child {
  /* border-right: 0px; */
  padding-left: 0px;
}
.serviced-card-image {
  height: 350px;
  background-size: cover;
  background-color: #fff;
  background-repeat: no-repeat;

}
.service-card-header {
  font-size: 1rem;
  color: #06a5e4;
  margin: 0.7rem 0;
}
.service-card-id {
  font-size: 1.5rem;
  margin-bottom: 0.7rem;
}
.service-card-text {
  /* font-size: 1.06rem; */
}
.service-card-text>p {
  margin: 0;
  margin-bottom: 0.5rem;
  height: 50px;
}
.service-card-text>a {
  color: #06a5e4;
}
.link-button-black {
  border: 1px solid #D8D8D8;
  padding: 15px 45px;
  font-size: 0.9rem;
  text-transform: uppercase;
  /* color: #000; */
  color: #06a5e4;
  background-color: transparent;
  border-radius: 2px;
}
.link-button-black:hover {
  background-color: #096184;
  color: #fff;
}




/* What we do */
.image-background {
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
}

.what-we-do-section {
  background-color: #06a5e475;
  min-height: 300px;
  display: flex;
  justify-content: flex-start;
  color: #fff;
}

.what-we-do > p {
  font-size: 20px;
}
.big-title {
  font-size: 2.9rem;
  margin: 2rem 0px;
  margin-bottom: 4rem;
  text-align: center;
}


.link-button-white {
  border: 1px solid #fff;
  padding: 10px 12px;
  font-size: 0.9rem;
  text-transform: uppercase;
  color: #fff;
  font-weight: bold;
  background-color: transparent;
  border-radius: 2px;
}
.link-button-white:hover {
  background-color: #fff;
}

/* partners */

.partners-section {
  height: 200px;
  /* display: flex;
  justify-content: flex-start; */
}
.partner-image-section {
  display: flex;
  justify-content: space-between;
}
.partner-image {
  width: 100px;
}






















/* Footer */

.top-footer {
  height: 200px;
  /* background-color: #06a5e4; */
  /* background-color: #0278a7; */
}
.footer-links {
  flex: 1;
  margin-right: 20px;
}
.footer-links:first-child {
  flex: 1.3;
}
.footer-links:last-child {
  margin-right: 0px;
}
.footer-links h4 {
  margin: 10px 0;
}
.footer-links ul {
  padding: 0;
  margin: 0;
}
.footer-links ul li {
  list-style: none;
  padding: 3px 0px;
  color: #676767;
}
.footer-links a {
  color: #676767;
}
.footer-links a:hover {
  color: #06a5e4;
}


.footer_brand {
    width: 150px;
    padding-bottom: 5px;
    padding-top: 15px;
}
.footer_brand img {
	width: 100%;
}
.icon-links {
  font-size: 33px;
  margin-top: 1rem;
}
.icon-links> a {
  color: #676767;
  margin-right: 7px;
}
.icon-links> a:last-child {
  color: #676767;
}
.icon-links> a:hover{
  color: #06a5e4;
}
.main_footer ul {
	padding-left: 0px;
}
.main_footer ul>li {
	list-style: none;
  display: inline-block;
  padding-right: 10px;
  font-size: 12px;
  color: #676767;
}
.main_footer ul>li>a {
	color: #676767;
	text-decoration: none;
}
.main_footer ul>li>a:hover {
	color: #18aee7;
	text-decoration: none;
}











.flex-row-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.single-flex {
  display: flex;
  justify-content: flex-start;
  flex: 1;
}
.flex-column-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.center {
  text-align: center !important;
}
.page-top-padding {
  padding-top: 70px;
}

.theme-color {
  color:  #06a5e4;
}
