.menu {
  display: block;
  position: relative;
  cursor: pointer;
}


.dropdown-link {
  display: block;
  position: relative;
  cursor: pointer;
}

.menu-dropdown {
  padding: 0;
  position: absolute;
  /* background: #ebebeb; */
  background: #fff;
  top: 50px;
  left: -50px;
  width: 300px;

}
.menu-dropdown>li {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 0;
  overflow: hidden;
  transition:height 200ms ease-in;
  /* border-bottom: 1px solid transparent; */
}
.menu-dropdown>li:last-child {
  border-bottom: 0px !important;
}
.menu-dropdown >li:hover{
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.2) ;
  border-left: 3px solid #048bc0;
  padding-left: 1rem;
  transition: padding 300ms ease-out;
}
.dropdown-link:hover  .menu-dropdown {
  /* box-shadow: 3px 3px 7px 1px #ccc; */
  /* box-shadow: 3px 3px 5px 6px #ccc; */
  box-shadow: 0 10px 6px -6px #777;
}
.dropdown-link:hover  .menu-dropdown li {
  height:50px;
  border-bottom: 1px solid #ccc;
}
.menu-dropdown >li > a{
  overflow: hidden;
  font-size: 1rem;
  padding: 1rem;
  white-space: nowrap;
  color: #333;
}
