.menu {
  display: block;
  position: relative;
  cursor: pointer;
}


.dropdown-link {
  display: block;
  position: relative;
  cursor: pointer;
}

.menu-dropdown {
  padding: 0;
  position: absolute;
  /* background: #ebebeb; */
  background: #fff;
  top: 50px;
  left: -50px;
  width: 300px;

}
/* .dropdown-link ::after {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  bottom: -19px;
  align-self: center;
  border-width: 1.2rem 1.2rem 0;
  border-style: solid;
  border-color: #30363d transparent transparent;
} */

.menu-dropdown>li {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 0;
  overflow: hidden;
  transition:height 200ms ease-in;
  /* border-bottom: 1px solid transparent; */
}
.menu-dropdown>li:last-child {
  border-bottom: 0px !important;
}
.menu-dropdown >li:hover{
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.2) ;
  /* border-left: 3px solid #048bc0; */
  /* padding-left: 1rem; */
  /* transition: padding 300ms ease-out; */
}
.dropdown-link:hover  .menu-dropdown {
  box-shadow: 0 10px 6px -6px #333;

}
.dropdown-link:hover  .menu-dropdown li {
  height:50px;
  border-bottom: 1px solid #ccc;
}
.menu-dropdown >li > a{
  overflow: hidden;
  font-size: 1rem;
  padding: 1rem;
  white-space: nowrap;
  color: #333;
}
