

/* Important stuff */


.dropdown-toggle {
  padding: .5em 1em;
  background: #777;
  border-radius: .2em .2em 0 0;
  position: relative;
}

ul.dropdown {
  display: none;
  position: absolute;
  top: 100%;
  min-width: 18em;
  margin: 0;
  padding: 0;
  border-radius: 0 0 .2em .2em;
}
ul.dropdown li {
  list-style-type: none;
  border-bottom: 1px solid #eee;
}
ul.dropdown li a {
  text-decoration: none;
  padding: .5em 1em;
  display: block;
}



/* sub-dropdown */
.sub-dropdown {
    position: relative;
    display: inline-block;
    cursor: pointer;
    width: 100%;
}
.sub-dropdown .sub-dropdown-icon {
  float: right;
}
.sub-dropdown-content {
    display: none;
    position: absolute;
    left: 287px;
    top: 0;
    background-color: #fff;
    width: 35em;
    /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
    padding: 12px 16px;
    z-index: 1001;
}
.sub-dropdown:hover .sub-dropdown-content {
    display: block;
}
.sub-dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.sub-dropdown-content a:hover {
  color: #df5000;
}

.sub-dropdown:hover .sub-dropdown-content {
    display: block;
}


/* subdropdown. */
.content-left-section {
  width: 50%;
}
.content-right-section {
  width: 50%;
}
.content-category-header {
  color: #df5000;
  font-size: 18px;
  padding: 12px 16px;
}
